body{
    background-color: olivedrab;
    margin: 0;
    padding: 0;
}

#page{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#toolbar{
    height:7%;
    background-color: olive;
    width:100%;
}

#downtoolbar{
    height: 7%;
    background-color: olive;
    width: 100%;
}

#timer{
    font-size: 20vmin;
    color: white;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 86%;
}

.confetti{
    color: white;
    font-family: 'Segoe UI';
    font-size: 5vmin;
    white-space: nowrap;
}
#timer-type-buttons{
    position:absolute;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
